<head>
   <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">

  <style>
    body.main3{
             font-family: 'Nanum Gothic', sans-serif;
             background: url("/image/wave.jpg");
             background-size: cover;
             color: #D8E6F0;
        }
        
    .field{
      width: 400px;
    }    
        
  </style>
</head>

<body class="main3">
  <center><h2 class="mt-5" style="letter-spacing:-1px;">내역 수정</h2></center>
  <div class='container' style="overflow:scroll; overflow-x:hidden; width:inherit; height: 450px; font-weight: bold; display:flex; justify-content:center; margin-top: 30px; letter-spacing:-1px;">
    <div class="field">

    <%= bootstrap_form_for :content, :html => {:multipart => true, name: "contentForm",  :onsubmit => "return validateform();"}, url: content_path(@content), method: :patch do |f| %>
    
       <!-- 수입 지출 목록 -->
      <%= f.text_field :inout, :label => '수지내역' %>

      <%= f.select(:category, ['결혼식', '장례식', '돌잔치(백일)', '기타'],{:label => '항목',:class => 'my_style_class'})%>
      
      <%= f.text_field :title, :label => '제목'%>
      
      <%= f.text_field :cost, :label => '금액' %>
      
      <%= f.text_area :memo, :label => '메모' %>
      
      <%= f.date_field(:date, {:label => '날짜'}) %>
      
      <div style="text-align:right; padding-top: 10px;">
      <%= f.submit %>
      </div>
    <% end %>
    </div>
  </div>
  
  <script>
    function validateform(){
        var contentInout = document.contentForm.content_inout;
        var contentCategory = document.contentForm.content_categoty;
        var contentDate = document.contentForm.content_date;

        if(contentInout.value==""){
            alert("수입/지출이 선택되지 않았습니다.");
        }
        else if(contentCategory.value==""){
            alert("카테고리가 선택되지 않았습니다.");
        }
        else if(contentDate.value==""){
            alert("날짜가 선택되지 않았습니다.");
        }
    }
  </script>
</body>