<head>
    
</head>

<body>
  <div class='container'>
    <%= form_for :content, :html => {:multipart => true, name: "contentForm",  :onsubmit => "return validateform();"}, url: content_path(@content), method: :patch do |f| %>
    
      <%= f.label :inout %> <!-- 수입 지출 목록 -->
      <%= f.text_field :inout %><br>
      
      <%= f.select(:category, ['결혼식', '장례식', '돌잔치(백일)', '기타'], {:class => 'my_style_class'})%>
      
      <%= f.label :title %>
      <%= f.text_field :title %><br>
      
      <%= f.label :cost %>
      <%= f.text_field :cost %><br>
      
      <%= f.label :memo %>
      <%= f.text_area :memo %><br>
      
      <%= f.label :date %>
      <%= f.date_field(:date) %>
      
      <%= f.submit %>
    <% end %>
  </div>
  
  <script>
    function validateform(){
        var contentInout = document.contentForm.content_inout;
        var contentCategory = document.contentForm.content_categoty;
        var contentDate = document.contentForm.content_date;

        if(contentInout.value==""){
            alert("수입/지출이 선택되지 않았습니다.");
        }
        else if(contentCategory.value==""){
            alert("카테고리가 선택되지 않았습니다.");
        }
        else if(contentDate.value==""){
            alert("날짜가 선택되지 않았습니다.");
        }
    }
  </script>
</body>