<head>
 <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
  
  <style>
  
    body {
      height: 1300px;
      font-family: 'Nanum Gothic', sans-serif;
      
    }
  
  </style>
</head>

<body>
  <div class='container' style="display:flex; justify-content:center; margin-top: 50px;">
    <div style=" width:400px; font-weight: bold;">
    <%= bootstrap_form_for :content, :html => {:multipart => true, name: "contentForm",  :onsubmit => "return validateform();"}, url: person_contents_path(@person.id) do |f| %>
      <%= f.select(:수지내역, ['선택', '수입', '지출'], {:class => 'my-style_class'}) %>
    
      <%= f.select(:항목, ['선택', '결혼식', '장례식', '돌잔치(백일)', '기타'], {:class => 'my_style_class'})%><br>
      
      <%= f.text_field :제목 %><br>
       
      <%= f.number_field :금액, step: 10000 %><br>
       
      <%= f.text_area :메모 %><br>
      
      <%= f.date_field(:날짜) %>
      
      <%= f.button :등록, label: '등록' ,class: 'btn btn-outline-warning', style: 'margin-top: 20px;' %>
    <% end %>
    </div>
  </div>
  
  <script>
    function validateform(){
        var contentInout = document.contentForm.content_inout;
        var contentCategory = document.contentForm.content_category;
        var contentDate = document.contentForm.content_date;
        var contentCost = document.contentForm.content_cost;

        if(contentInout.value==""){
            alert("수입/지출이 선택되지 않았습니다.");
            return false;
        }
        else if(contentCategory.value==""){
            alert("카테고리가 선택되지 않았습니다.");
            return false;
        }
        else if(contentDate.value==""){
            alert("날짜가 선택되지 않았습니다.");
            return false;
        }
        else if(contentCost.value==""){
            alert("금액이 입력되지 않았습니다.");
            return false;
        }
    }
  </script>
</body>