<head>
    
</head>

<body>
  <div class='container'>
    <%= form_for :content, :html => {:multipart => true, name: "contentForm",  :onsubmit => "return validateform();"}, url: person_contents_path(@person.id) do |f| %>
    
      
      <%= f.select(:inout, ['', '수입', '지출'], {:class => 'my-style_class'}) %><br>
    
      <%= f.select(:category, ['', '결혼식', '장례식', '돌잔치(백일)', '기타'], {:class => 'my_style_class'})%><br>
      
      <%= f.label :title %>
      <%= f.text_field :title %><br>
      
      <%= f.label :cost %>
      <%= f.number_field :cost, step: 10000 %><br>
      
      <%= f.label :memo %>
      <%= f.text_area :memo %><br>
      
      <%= f.label :date %>
      <%= f.date_field(:date) %>
      
      <%= f.button :submit, label: '등록' ,class: 'btn btn-outline-warning' %>
    <% end %>
  </div>
  
  <script>
    function validateform(){
        var contentInout = document.contentForm.content_inout;
        var contentCategory = document.contentForm.content_category;
        var contentDate = document.contentForm.content_date;
        var contentCost = document.contentForm.content_cost;

        if(contentInout.value==""){
            alert("수입/지출이 선택되지 않았습니다.");
            return false;
        }
        else if(contentCategory.value==""){
            alert("카테고리가 선택되지 않았습니다.");
            return false;
        }
        else if(contentDate.value==""){
            alert("날짜가 선택되지 않았습니다.");
            return false;
        }
        else if(contentCost.value==""){
            alert("금액이 입력되지 않았습니다.");
            return false;
        }
    }
  </script>
</body>