<head>
     <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&amp;subset=korean" rel="stylesheet">
    <style>
    
    .login
    {
        padding-top: 50px;
        height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 3em;
        letter-spacing:-3px;
        font-family: 'Cinzel', serif;
    }
   
        body {
           margin : 0;
           padding : 0;
           background-color:black;
           color:white;
        }
     
     .field{
         width:300px;
     }
     
        video {
         position: fixed;
         top: 50%; left: 50%;
         min-width: 100%;
         min-height: 100%;
         width: auto;
         height: auto;
         transform: translate(-50%, -50%);
         opacity: 0.7;
         z-index : -1;
        }

    </style>        
</head>

<body>
   <video autoplay muted loop>
      <source src="/video/Sky.mp4" type="video/mp4"></source>
   </video>
   
   <div class="container">
    <h2 class="mt-5">회원가입</h2>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.text_field :name, :label => '이름' ,autofocus: true  %>
      </div>
    
      <div class="field">
        <%= f.label :성별 %><br />
        <p> 남성 
        <%= radio_button("user", "sex", "남성") %>
         여성
        <%= radio_button("user", "sex", "여성") %>
        </p>
         
      </div>
      
    
      <div class="field">
          <%= f.label :age, '나이' %><br>
       <%= number_field(:user, :age, in: 1.0..100.0, step: 1) %>
      </div>
      
      <div class="field">
        <%= f.email_field :email, :label => 'Email', autocomplete: "email" %>
      </div>
    
      <div class="field">
        <!--<% if @minimum_password_length %><em>(최소 <%= @minimum_password_length %> 자리)</em><% end %>-->
        <%= f.password_field :password, :label => '비밀번호 (최소 6자리 입력)', autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, :label => '비밀번호 확인', autocomplete: "new-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "회원가입" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</body>