<html>
<head>
    <style>
        .info_edit{
            width:400px; 
            font-weight: bold;
            line-height: 100%;
        }
        
        body.main6{
            background: url("/image/wave.jpg");
            background-size: cover;
        }
    
    </style>
</head>

<body class="main6">
<div class="container" style="display:flex; justify-content:center; margin-top: 50px;">
      <div class="info_edit">
    <center><p>연락처 변경</p></center>
    <%= form_for :person, :html => { :multipart => true, name: "personForm", :onsubmit => "return validateform();"}, url: person_path, method: :patch  do |f| %>
        <div class="field" style="padding-top: 30px;">
            <p>프로필 사진</p>
            <%= f.file_field :image %>
        </div>
        <br><br>
        <div class="field">
            <p>이름</p>
            <%= f.text_field :name , class: 'form-control' %>
        </div>
        <br><br>
        <div class="field">
            <p>전화번호</p>
            <%= f.text_field :phone , class: 'form-control' %>
        </div>
        <br><br>
        <div class="field">
            <p>관계</p></p>
            <%= f.select(:relation, ['가족', '친구', '지인', '직장동료', '거래처', '기타'],{:class => 'input-group'})%>
        </div>
        
    
        <%= f.hidden_field :user_id, value: current_user.id %>
        <br><br>
        <p><%= f.button :변경, label: '등록' ,class: 'btn btn-outline-dark' %></p>
    <% end %>
    </div>
</div>
</body>


<script>
        function validateform(){
            var personName = document.personForm.person_name;
            var personPhone = document.personForm.person_phone;
            var personImage = document.personForm.person_image;

            if(personName.value==""){
                alert("이름이 입력되지 않았습니다.");
                document.personForm.person_name.focus();
                document.getElementById('person_name').select();
                return false;
            }
            else if(personName.value.length > 5){
                alert("이름은 5글자 이하로 작성해주세요.");
                document.personForm.person_name.focus();
                document.getElementById('person_name').select();
                return false;
            }
            else if(personPhone.value==""){
                alert("전화번호가 입력되지 않았습니다.");
                document.personForm.person_phone.focus();
                document.getElementById('person_phone').select();
                return false;
            }
        }
</script>

</html>