<div class="container">
    <%= link_to new_person_path do %>
        <button type="button" class="btn btn-outline-warning">연락처 추가</button>
    <%end%>

    <%= form_tag search_people_path, :method => :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "검색", :name => nil %>
    <% end %>
    
    <div class="row">
        <% @people.each do |person| %>
            <% if(person.user_id == current_user.id) %>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 pt-2">
                <div class="card" style="width: 10rem; height: 330px; margin:10px;">
                    <center><%= image_tag person.image.url , class: 'custom_img'%></center>
                    <div class="card-body">
                        <center>
                        <h5 class="card-title"><%= person.name %></h5>
                        <p class="card-text"><%= person.relation %></p>
                        <p class="card-text"><%= person.phone %></p>
                        <%= link_to person_path(person) do %>
                            <button type="button" class="btn btn-outline-warning">내용 상세</button>
                        <% end %>
                        </center>
                    </div>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
