<head>
     <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo&amp;subset=korean" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&amp;subset=korean" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">
     <link href="/app/assets/stylesheets/button.scss" rel="stylesheet">
     
     <style>

    .card{
          background-color:rgba(255,255,255,0.1);
          border: solid 1px #D8E6F0;
        }
        
    .name_search{
             border: none;
             border-bottom: solid 0.5px black;
             margin-bottom: 20px;
    }   
         

    body.main{
        background: url("/image/wave.jpg");
        background-size: cover;
    }
        
            .btn-three {
            color: #FFF;
            transition: all 0.5s;
            position: relative;
        }
        .btn-three::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(255,255,255,0.1);
            transition: all 0.3s;
        }
        .btn-three:hover::before {
            opacity: 0 ;
            transform: scale(0.5,0.5);
        }
        
        .btn-three::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s;
            border: 1px solid rgba(255,255,255,0.5);
            transform: scale(1.2,1.2);
        }
        
    .btn-three:hover::after {
            opacity: 1;
            transform: scale(1,1);
    }
        
    input, span.input_span, label {
        display: block;
        margin: 10px;
        padding: 5px;
        border: none;
        font-size: 20px;
    }
    
    input:focus {
        outline: 0;
    }
        
    input.question {
        font-size: 20px;
        font-weight: 300;
        border-radius: 2px;
        margin: 0;
        border: none;
        width: 30%;
        background: rgba(0, 0, 0, 0);
        transition: padding-top 0.2s ease, margin-top 0.2s ease;
        overflow-x: hidden;
    }
    
    input.question+label {
        display: block;
        position: relative;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        width: 13%;
        border: 0.5px solid white;
        transition: width 0.4s ease;
        height: 0px;
    }
    
    input.question:focus+label {
      width: 20%;
    }
    
    input.question:focus,
    input.question:valid {
      padding-top: 33px;
    }
    
    input.question:focus+label>span.input_span,
    input.question:valid+label>span.input_span {
      top: -78px;
      font-size: 22px;
      color: white;
    }
    
    input.question:valid+label {
      border: solid 0.3px yellow;
      transition: appear 2s ease;
    }
    
    input.question:invalid {
      box-shadow: none;
    }
    
    input.question+label>span.input_span {
      margin: 0;
      position: absolute;
      color: white;
      font-size: 30px;
      top: -50px;
      left: 0px;
      z-index:-1;
      transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    }
    
    input[type="submit"] {
      transition: opacity 0.2s ease, background 0.2s ease;
      display: block;
      opacity: 0;
      margin: 10px 0 0 0;
      padding: 10px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background: #eee;
    }
    
    input[type="submit"]:active {
      background: #999;
    }
    
    input.question:invalid ~ input[type="submit"]{
      display: none;
    }
    
    input.question:valid ~ input[type="submit"]{
      animation: appear 2s forwards;
    }
    
    select:invalid ~ input[type="submit"]{
        display:none;
    }
    
    select:valid ~ input[type="submit"]{
        animation: appear 2s forwards;
    }
    
    @-webkit-keyframes appear {
      100% {
        opacity: 1;
      }
    }
    
    @keyframes appear {
      100% {
        opacity: 1;
      }
    }
    
    </style>
</head>

<body class="main">
  <div class="container">
      <%= link_to new_person_path do %>
          <div class="box-3">
            <div class="btn btn-three">
              <span>연락처 추가</span>
            </div>
          </div>
      <% end %><br>
  
      <div>
          <%= form_tag search_people_path, :method => :get do %>
              <%= text_field_tag :search, nil, :class => 'question', :required => 'true' , :autocomplete => 'off' %>
                  <label for="search"><span class="input_span">이름 검색</span></label>
              <%= submit_tag "검색", :id => 'search', :name => nil  %>
          <% end %>
          
          <%= form_tag search_people_path, :method => :get do %>
              <%= select_tag :search, options_for_select([ "관계", "가족", "친구", "지인", "직장동료", "거래처", " 기타" ]) %>
              <%= submit_tag "검색", :name => nil %>
          <% end %>
      </div>
      
      <div class="row">
          <% @people.each do |person| %>
              <% if(person.user_id == current_user.id) %>
              <div class="col-6 col-sm-4 col-md-3 col-lg-2 pt-2">
                  <div class="card" style="width: 10rem; height: 330px; margin:10px;">
                      <center><%= image_tag person.image.url, class: 'custom_img'%></center>
                        <div class="card-body">
                          <center>
                              <h5 class="card-title" style="color: #D8E6F0; font-family: 'Black Han Sans', sans-serif; font-size:2em;"><%= person.name %></h5>
                              <p class="card-text"style="color: white; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;line-height: 8px"><%= person.relation %></p>
                              <p class="card-text"style="color: white; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;line-height: 8px"><%= person.phone %></p>
                              
                              <%= link_to person_path(person) do %>
                                  <div class="box-3"> 
                                    <div class="btn btn-three" style="margin-top:5px;">
                                      <span>내용 상세</span>
                                    </div>
                                  </div>                            
                              <% end %>
                          </center>
                      </div>
                  </div>
              </div>
            <% end %>
        <% end %>
    </div>
  </div>
</body>
