<head>
     <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo&amp;subset=korean" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&amp;subset=korean" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">
     
     <style>
         .name_search{
             border: none;
             border-bottom: solid 0.5px black;
             margin-bottom: 20px;
         }   
         

        body.main{
             background: url("/image/wave.jpg");
             background-size: cover;
         
        }

     </style>
     
     
</head>

<body class="main">
<div class="container">
    <div>
        <%= link_to new_person_path do %>
            <button style="margin-bottom: 11px;" type="button" class="btn btn-outline-warning">연락처 추가</button>
        <% end %>
    
        <%= form_tag search_people_path, :method => :get do %>
            <%= text_field_tag :search, nil, placeholder: '이름 검색', :class => 'name_search' %>
            <%= submit_tag "검색", :name => nil  %>
        <% end %>
        
        <%= form_tag search_people_path, :method => :get do %>
            <%= select_tag :search, options_for_select([ "관계", "가족", "친구", "지인", "직장동료", "거래처", " 기타" ]) %>
            <%= submit_tag "검색", :name => nil %>
        <% end %>
    
    </div>
    
    <div class="row">
        <% @people.each do |person| %>
            <% if(person.user_id == current_user.id) %>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 pt-2">
                <div class="card" style="width: 10rem; height: 330px; margin:10px;">
                    <center><%= image_tag person.image.url, class: 'custom_img'%></center>
                    <div class="card-body">
                        <center>
                            <h5 class="card-title" style="font-family: 'Black Han Sans', sans-serif; font-size:2em;"><%= person.name %></h5>
                            <p class="card-text"style="color: #5D5E5E; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;line-height: 8px"><%= person.relation %></p>
                            <p class="card-text"style="color: #5D5E5E; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;line-height: 8px"><%= person.phone %></p>
                            <%= link_to person_path(person) do %>
                                <button style="margin-top: 11px" type="button"class="btn btn-outline-secondary">내용 상세</button>
                            <% end %>
                        </center>
                    </div>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
</body>
