<head>
 <style>
    body.main4{
             background: url("/image/wave.jpg");
             background-size: cover;
             }
        
    .field{
        width:300px;    
    }
  </style>
</head>

<body class="main4">
<div class="container">
    <center><h2 class="mt-5">연락처 추가</h2></center>
    
    <%= form_for :person, :html => { :multipart => true, name: "personForm", :onsubmit => "return validateform();"}, url: people_path do |f| %>
        <div class="field">
            <p>프로필 사진</p>
            <%= f.file_field :image %>
        </div>
        <br><br>
        <div class="field">
            <p>이름</p>
            <%= f.text_field :name , class: 'form-control' %>
        </div>
        <br><br>
        <div class="field">
            <p>전화번호</p>
            <%= f.number_field :phone , class: 'form-control' %>
        </div>
        <br><br>
        <div class="field">
            <p>관계</p></p>
            <%= f.select(:relation, ['가족', '친구', '지인', '직장동료', '거래처', '기타'],{:class => 'input-group'})%>
        </div>
        
    
        <%= f.hidden_field :user_id, value: current_user.id %>
        <br><br>
        <p><%= f.button :submit, label: '등록' ,class: 'btn btn-outline-warning' %></p>
    <% end %>
</div>


<script>
        function validateform(){
            var personName = document.personForm.person_name;
            var personPhone = document.personForm.person_phone;
            var personImage = document.personForm.person_image;

            if(personName.value==""){
                alert("이름이 입력되지 않았습니다.");
                document.personForm.person_name.focus();
                document.getElementById('person_name').select();
                return false;
            }
            else if(personName.value.length > 5){
                alert("이름은 5글자 이하로 작성해주세요.");
                document.personForm.person_name.focus();
                document.getElementById('person_name').select();
                return false;
            }
            else if(personPhone.value==""){
                alert("전화번호가 입력되지 않았습니다.");
                document.personForm.person_phone.focus();
                document.getElementById('person_phone').select();
                return false;
            }
        }
</script>

</body>