<head>
    
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="col-sm">
          <div class="card" style="width: 12rem;">
            <center>
              <%= image_tag @person.image.url, class: 'custom_img'%>
              <div class="card-body">
                  <h5 class="card-title"><%= @person.name %></h5>
                  <p class="card-text"><%= @person.relation %></p>
                  <p class="card-text"><%= @person.phone %></p>
                  <%= link_to edit_person_path(@person) do %>
                    <button type="button" class="btn btn-outline-warning">수정</button>
                  <% end %>
                  <%= link_to person_path(@person), method: :delete do %>
                    <button type="button" class="btn btn-outline-warning">삭제</button>
                  <% end %>
              </div>
            </center>
          </div>
        </div>
      </div>
      
      <div class="col-7">
        <div>
          <%= @person.sum %>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>수입</th>
              <th>항목</th>
              <th>제목</th>
              <th>금액</th>
              <th>메모</th>
              <th>날짜</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <% @contents.each do |content| %>
              <tr>
               <td><%= content.inout %></td>
               <td><%= content.category %></td>
               <td><%= content.title %></td>
               <td><%= content.cost %></td>
               <td><%= content.memo %></td>
               <td><%= content.date %></td>
               <td><%= link_to '수정', edit_content_path(content) %></td>
               <td><%= link_to '삭제', content_path(content), method: :delete  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
          <%= link_to new_person_content_path(@person) do %>
            <button type="button" class="btn btn-outline-warning">내역 추가</button>
          <%end%>
      </div>
  </div>

</body