<head>
     <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&amp;subset=korean" rel="stylesheet">
    <style>
    
    .login
    {
        padding-top: 50px;
        height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 3em;
        letter-spacing:-3px;
        font-family: 'Cinzel', serif;
    }
   
        body {
           margin : 0;
           padding : 0;
           background-color:black;
           color:white;
        }
     
       .field{
         width:300px;
     }
     
        video {
         position: fixed;
         top: 50%; left: 50%;
         min-width: 100%;
         min-height: 100%;
         width: auto;
         height: auto;
         transform: translate(-50%, -50%);
         opacity: 0.7;
         z-index : -1;
        }

    </style>        
</head>

<body>
  
  <video autoplay muted loop>
      <source src="/video/Sky.mp4" type="video/mp4"></source>
   </video>
   
  <div class="container">
  <h2 class="mt-5">Log In</h2><br>
  
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, :label => 'ID (Email)', autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, :label => 'Password', autocomplete: "current-password" %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, :label => 'Remember' %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "로그인" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
</body>